*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito sans, sans-serif;
}

/* Navigation */
nav {
  position: fixed;
  height: 70px;
  width: 100%;
  background: linear-gradient(to bottom, #333, #626262);
  z-index: 10;
}

.logo-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 50px;
  z-index: 25;
  display: none;
}

.liste-nav {
  background: linear-gradient(to bottom, #333, #626262);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  z-index: 20;
}

.item-nav {
  display: flex;
  align-items: center;
}

.item-nav a {
  font-size: 22px;
  color: #f1f1f1;
  text-decoration: none;
  margin: 0 20px;
  text-transform: uppercase;
}

.item-nav a::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0%;
  height: 2px;
  background: #f1f1f1;
  transition: width 0.2s ease-in-out;
}

.item-nav a:hover::after {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .logo-menu {
    display: block;
  }
  .liste-nav {
    padding-top: 70px;
    flex-direction: column;
    height: auto;
    position: relative;
    display: none;
  }
  .liste-nav.active {
    display: block;
  }
  .item-nav {
    height: 70px;
    justify-content: center;
  }
}